*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.orange{
    width: 100%;
    padding: 15px;
    background-color: #ff6900;
    border-bottom: gray 1px solid;
    position: fixed;
    z-index: 3;
}
#intest{
    margin: auto;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sezioni{
    height: 100%;
}
a{
    text-decoration: none;
}
a > span {
    font-size: 18px;
    color: white;
    margin-right: 8px;
}
.logo{
    height: 30px;
}
i{
    font-size: 18px;
    margin-right: 8px;
    color: white;
}
main{
    padding: 100px 0;
}
.gray{
    width: 1200px;
    margin: auto;
    height: 650px;
    display: flex;
}
.block{
    width: calc(100% / 3);
    margin: 8px;
}
.target{
    width: 100%;
    padding: 5px;
    position: absolute;
    bottom: 30px;
}
.heart{
    position: absolute;
    right: 0;
    padding: 4px;
}
.heart > i {
    color: black;
    font-size: 25px;
}
.red{
    background-color: red;
    color: white;
    padding: 3px 6px;
}
.green{
    background-color: #008000;
    color: white;
    padding: 3px 7px;
}
.img{
    height: 580px;
    background-color: pink;
    background-size: cover;
    position: relative;
}
.first{
    background-image: url(./img/1.webp);
}
.first:hover {
    background-image: url(./img/1b.webp);
}
.second{
    background-image: url(./img/2.webp);
}
.second:hover{
    background-image: url(./img/2b.webp);
}
.third{
    background-image: url(./img/3.webp);
}
.third:hover{
    background-image: url(./img/3b.webp);
}
h5{
    font-size: 17px;
}
.prezzo{
    color: red;
    font-size: 13px;
}
.prezzo > span {
    color: black;
    text-decoration-line: line-through;
}
.block > div {
    margin-top: 4px;
}
.fourth{
    background-image: url(./img/4.webp);
}
.fourth:hover{
    background-image: url(./img/4b.webp);
}
.fifth{
    background-image: url(./img/5.webp);
}
.fifth:hover{
    background-image: url(./img/5b.webp);
}
.sixth{
    background-image: url(./img/6.webp);
}
.sixth:hover{
    background-image: url(./img/6b.webp);
}
#fine{
    background-color: #1a1a1a;
    width: 100%;
    height: 85px;
}
#blockfine{
    max-width:1200px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h4{
    color: white;
    font-size: 15px;
    padding-bottom: 7px;
}
div > span {
    font-size: 13px;
    padding-right: 5px;
    color: white;
}
#pfine{
    color: white;
    font-size: 14px;
    padding-bottom: 7px;
}